.profile-picture-small,
.profile-picture-small-side {
    height:60px;
    width: 60px;
    border-radius: 50%;
    background-color: black;
    float: left;
}

.profile-picture-small {
    margin-left: 10px
}

.profile-picture-small-side {
    margin-right: 10px;
    margin-bottom: 10px;
}

.list-name {
    margin: 0 0 .25em 0;
    font-size: 36px
}
.created-by {
    margin-top: 15px;
    margin-left: 25px;
    font-size: 18px;
}

.line {
    height: 3px;
    background-color: #ccc;
    margin: 25px 0
}

.list-display {
    height: 400px;
}

.list-options {
    border-left: 3px solid #ccc;
    height: 400px;
}

.list-item {
    background-color: #c4e4ff;
    height: 50px;
    margin: 15px 30px;
    border-radius: 15px;
    padding: 8px;
}

.check-button-1 {
    background-color: #00fc96;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    margin-top: 2px;
    margin-left: 2px;
    padding: 0;
    border: none;
}

.check-button-0 {
    background-color: azure;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 25px;
    margin-top: 2px;
    margin-left: 2px;
    padding: 0;
    border: none;
}

.strike {
    text-decoration: line-through;
}

.list-item-name {
    font-size: 20px;
}

.list-options-item {
    margin-left: 15px;
    padding: 0 10px 10px 0;
    margin-bottom: 10px;
    border-bottom: 3px solid #ccc
}

.form-container {
    background-color: #c4e4ff;
    margin: 15px 30px;
    border-radius: 15px;
    padding: 8px;
}

.form-label {
    text-align: center;
    font-size: 30px;
}

.list-description-box {
    margin-left: 5%;
    margin-top: 10px;
    width: 90%;
}

.list-title-box {
    margin-left: 5%;
    width: 90%
}

.list-delete-button,
.delete-button {
    background-color: #f00;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 25px;
    margin-top: 2px;
    margin-left: 2px;
    padding: 0;
    float: right;
    border: none;
}
