<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <link rel="stylesheet" type="text/css" href="../static/list_view.css">
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
    <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src='../static/list_view.js'></script>
</head>
<div id='top-nav'>
    <div class='row'>
        <a href='{{url_for("show_lists")}}'>
        <div class='large-4 columns nav-item'>
            <span clas='top-link'>My Lists</span>
        </div>
        </a>
        <a href='{{url_for("show_profile", viewing_user_id=user_id)}}'>
        <div class='large-4 columns nav-item nav-item'>
            <span class='top-link'>My Profile</span>
        </div>
        </a>
        <a href='{{url_for("logout")}}'>
        <div class='large-4 columns nav-item last-nav-item'>
            <span class='top-link'>Logout</span>
        </div>
        </a>
    </div>
</div>
<div id='container'>
    {% block body %}{% endblock %}
    <!--templating goes here-->
</div>
</html>
