<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <link rel="stylesheet" type="text/css" href="../static/list_view.css">
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
    <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src='../static/list_view.js'></script>
</head>
<div id='top-nav'>
    <div class='row'>
        <div class='large-4 columns nav-item'>
            thing1
        </div>
        <div class='large-4 columns nav-item'>
            thing2
        </div>
        <div class='large-4 columns nav-item last-nav-item'>
            thing3
        </div>
    </div>
</div>
<div id='container'>
    {% block body %}{% endblock %}
    <!--templating goes here-->
</div>
</html>
