<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <link rel="stylesheet" type="text/css" href="../static/list_view.css">
    <link rel="stylesheet" type="text/css" href="../static/profile.css">

</head>
<div id='top-nav'>
    <div class='row'>
        <div class='large-4 columns nav-item'>
            thing1
        </div>
        <div class='large-4 columns nav-item'>
            thing2
        </div>
        <div class='large-4 columns nav-item last-nav-item'>
            thing3
        </div>
    </div>
</div>
<div id='container'>
    <!--templating goes here-->
    <div class='row'>
        <div class='large-1 columns profile-picture-small'></div>
        <div class='large-11 columns'>
            <h1 class='user-title'>USERNAME'S LISTS</h1>
        </div>
    </div>
    <div class='row'>
        <div class='large-12 columns line'></div>
    </div>
    <div class='row'>
        <!-- list items -->
            <!-- for loop this shit -->
            <div class='row'>
                <div class='large-11 columns list-item'>
                    <p class='list-item-name'>Thing</p>
                </div>
            </div>
            <!-- endfor this shit -->
            <div class='row'>
                <div class='large-11 columns list-item'>
                    <p class='list-item-name'>Thing 2: THING HARDER</p>
                </div>
            </div>
            <!-- begin form  -->
            <div class='row'>
                <div class='large-11 columns form-container'>
                    <div class='row'>
                        <h2 class='form-label'>Create a new list</h2>
                    </div>
                    <form method='POST' action='{{url_for("create_list")}}'>
                        <input type='hidden' name='user_id' value='1'>
                        <div class='row'>
                            <input type='text' name='list-title' class='list-title-box' placeholder='List Title'/>
                        </div>
                        <div class='row'>
                            <textarea name='list-description' class='list-description-box' placeholder='List Description'></textarea>
                        </div>
                        <div class='row'>
                            <input type='submit' name='submit' value='create' class='medium round button login-button'>
                        </div>
                    </form>
                </div>
            </div>

    </div>
    </div>
</html>
