{% extends "base.html" %}
{% block body %}
    <!--templating goes here-->
    <div class='row'>
        <div class='large-12 columns'>
            <h1 class='list-name'>{{this_list.title}}</h1>
        </div>
    </div>
    <div class='row'>
        <div class='large-1 columns profile-picture-small'></div>
        <div class='large-11 columns'>
            <p class='created-by'>CREATED BY {{owner.user_name}}</p>
        </div>
    </div>
    <div class='row'>
        <div class='large-12 columns line'></div>
    </div>
    <div class='row'>
        <!-- list items -->
        <div class='large-9 columns list-display'>
            <form>
                {% for item in items %}
                <div class='row'>
                    <div class='large-11 columns list-item'>
                        <input type='button' class='check-button' value='check' data-item-id='{{item.item_id}}' />
                        <input type='submit' class='delete-button' value=''/>
                        <p class='list-item-name'>{{item.text}}</p>
                    </div>
                </div>
                {% else %}
                Nothing here yet!
                {% endfor %}
            </form>
                <div class='large-11 columns form-container'>
                    <form method='POST' action='{{url_for("add_item", id=list_id)}}'>
                        <div class='row'>
                            <input type='text' name='list-item-title' class='list-title-box' placeholder='New Item'/>
                        </div>
                        <div class='row'>
                            <input type='submit' name='submit' value='add' class='medium round button login-button'>
                        </div>
                    </form>
                </div>
        </div>
        <!-- list options -->
        <div class='large-3 columns list-options'>
            <div class='row'>
                <div class='large-12 columns list-options-item'>
                    <h2>Users</h2>
                    <div class='profile-picture-small-side'></div>
                    <div class='profile-picture-small-side'></div>
                    <div class='profile-picture-small-side'></div>
                    <div class='profile-picture-small-side'></div>
                    <div class='profile-picture-small-side'></div>
                    <div class='profile-picture-small-side'></div>
                </div>
            </div>
            <div class='row'>
                <div class='large-12 columns list-options-item'>
                    <a href=#><h2>Options</h2></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end template -->
{% endblock %}
