<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <link rel="stylesheet" type="text/css" href="../static/login.css">
    <link rel="stylesheet" type="text/css" href="../static/list_view.css">
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
</head>
<div id='top-nav'>
    <div class='row'>
        <div class='large-4 columns nav-item'>
            thing1
        </div>
        <div class='large-4 columns nav-item'>
            thing2
        </div>
        <div class='large-4 columns nav-item last-nav-item'>
            thing3
        </div>
    </div>
</div>
<div id='container'>
    <!--templating goes here-->
    <div class='row'>
        <div class='large-12 columns'>
            <h1 class='list-name'>Groceries</h1>
        </div>
    </div>
    <div class='row'>
        <div class='large-1 columns profile-picture-small'></div>
        <div class='large-11 columns'>
            <p class='created-by'>CREATED BY USER</p>
        </div>
    </div>
    <div class='row'>
        <div class='large-12 columns line'></div>
    </div>
    <div class='row'>
        <!-- list items -->
        <div class='large-9 columns list-display'>
            <!-- for loop this shit -->
            <div class='row'>
                <div class='large-11 columns list-item'>
                    <form method='POST' action='{{url_for("check_item")}}'>
                        <input type='submit' class='check-button' value=''></input>
                    </form>
                    <form method='POST' action='{{url_for("remove_item")}}'>
                        <input type='submit' class='delete-button' value=''/>
                    </form>
                    <p class='list-item-name'>Thing</p>
                </div>
            </div>
            <!-- endfor this shit -->
            <div class='row'>
                <div class='large-11 columns list-item'>
                    <form method='POST' action='{{url_for("check_item")}}'>
                        <input type='submit' class='check-button' value=''></input>
                    </form>
                    <form method='POST' action='{{url_for("remove_item")}}'>
                        <input type='submit' class='delete-button' value=''/>
                    </form>
                    <p class='list-item-name'>Thing 2: THING HARDER
                </div>
            </div>
                <div class='large-11 columns form-container'>
                    <form method='POST' action='{{url_for("add_item")}}'>
                        <div class='row'>
                            <input type='text' name='list-item-title' class='list-title-box' placeholder='New Item'/>
                        </div>
                        <div class='row'>
                            <input type='submit' name='submit' value='add' class='medium round button login-button'>
                        </div>
                    </form>
                </div>
        </div>
        <!-- list options -->
        <div class='large-3 columns list-options'>
            <div class='row'>
                <div class='large-12 columns list-options-item'>
                    <h2>Users</h2>
                    <div class='profile-picture-small-side'></div>
                    <div class='profile-picture-small-side'></div>
                    <div class='profile-picture-small-side'></div>
                    <div class='profile-picture-small-side'></div>
                    <div class='profile-picture-small-side'></div>
                    <div class='profile-picture-small-side'></div>
                </div>
            </div>
            <div class='row'>
                <div class='large-12 columns list-options-item'>
                    <a href=#><h2>Options</h2></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end template -->
</div>
</html>
