{% extends "base.html" %}
{% block body %}
    <!--templating goes here-->
    <div class='row'>
        <div class='large-1 columns profile-picture-small'></div>
        <div class='large-11 columns'>
            <h1 class='user-title'>{{ message }}</h1>
        </div>
    </div>
    <div class='row'>
        <div class='large-12 columns line'></div>
    </div>
    <div class='row'>
        <!-- list items -->
            <!-- for loop this shit -->
            {% for list in lists %}
            <div class='row' id='{{list.list_id}}'>
                <div class='large-11 columns list-item'>
                    <input type='button' class='list-delete-button' value='' data-list-id='{{list.list_id}}'/>
                    <a href='{{ url_for("display_list", id=list.list_id) }}'>
                        <p class='list-item-name'>{{ list.title }}</p>
                    </a>
                </div>
            </div>
            {% else %}
            No lists yet!
            {% endfor %}
            <!-- begin form  -->
            <div class='row'>
                <div class='large-11 columns form-container'>
                    <div class='row'>
                        <h2 class='form-label'>Create a new list</h2>
                    </div>
                    <form method='POST' action='{{url_for("create_list")}}'>
                        <input type='hidden' name='user_id' value='1'>
                        <div class='row'>
                            <input type='text' name='list-title' class='list-title-box' placeholder='List Title'/>
                        </div>
                        <div class='row'>
                            <textarea name='list-description' class='list-description-box' placeholder='List Description'></textarea>
                        </div>
                        <div class='row'>
                            <input type='submit' name='submit' value='create' class='medium round button login-button'>
                        </div>
                    </form>
                </div>
            </div>
    </div>
{% endblock %}
