<html>
<head>
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/normalize.css">
    <link rel="stylesheet" type='text/css' href='../static/login.css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:200' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class='row login-header'>
        Welcome to Wist
    </div>
    <div class='row login-subheader'>
        Wist is the best thing you've ever seen.<br /> Sign up now.
    </div>
    <div class='large-push-5 large-2 columns login-container'>
        <div class='login-form-box'>
            <form>
                <div class='username'>
                    <input placeholder='Username' class='username-box' type='text' name='username' />
                </div>
                <div class='password'>
                    <input placeholder='Password' class='password-box' type='text' name='password' />
                </div>
                <div class='submit-button'>
                    <input type='submit' value='Login' name='login' class='medium round button login-button' />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
