<html>
<head>
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/normalize.css">
    <link rel="stylesheet" type='text/css' href='../static/login.css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='../static/login.js'></script>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:200' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class='row login-header'>
        Welcome to Wist
    </div>
    <div class='row login-subheader'>
        Wist is the best thing you've ever seen.<br /> Sign up now.
    </div>
    <div class='large-push-5 large-2 columns login-container'>
        <div class='login-form-box'>
            <form method='POST' action='{{url_for("register")}}'>
                <input id='toggle' type='hidden' name='toggle' value='login'>
                {% if error %}
                <p class="error"><srong>Error:</strong> {{ error }}
                {% endif %}
                <div id='username'>
                    <input placeholder='Username' class='username-box' type='text' name='username' required/>
                </div>
                <div id='password'>
                    <input placeholder='Password' class='password-box' type='password' name='password' required/>
                </div>
                <div id='email'>
                </div>
                <div id='login'>
                    <input id='login-button' type='submit' value='Login' name='login' class='medium round button login-button' />
                </div>
                <div class='register-link'>
                    <p id='register-toggle'><a href=#>Don't have an account? Sign up now</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
