<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="../static/foundation/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../static/base.css">
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
</head>
<div id='top-nav'>
    <div class='row'>
        <div class='large-4 columns nav-item'>
            thing1
        </div>
        <div class='large-4 columns nav-item'>
            thing2
        </div>
        <div class='large-4 columns nav-item last-nav-item'>
            thing3
        </div>
    </div>
</div>
<div id='container'>
    <!--templating goes here-->
    <div class='row'>
        <div class='large-3 columns profile-picture'>
        </div>
        <div class='large-8 large-offset-1 columns'>
            <h1>USERNAME</h1>
            <p>information information information information information 
                information information a a a a a a a a a a information information information 
                information information information information information 
                information information information information information 
                information information information information information 
                information information information information information 
                information information information information information 
                information information information information information </p>
        </div>
    </div>
    <div class='row'>
        <div class='large-4 columns profile-link'><a href=#>thing1</a></div>
        <div class='large-4 columns profile-link'><a href=#>thing2</a></div>
        <div class='large-4 columns profile-link'><a href=#>thing3</a></div>
    </div>
    <!--end template-->
</div>
</html>
