{% extends "base.html" %}
{% block body %}
    <!--templating goes here-->
    <div class='row'>
        <div class='large-3 columns'>
            <input type='button' class='profile-picture' style="background-color: {{ user_color }}" value="{{ user_initial }}">
        </div>
        <div class='large-8 large-offset-1 columns'>
            <h2>{{ user_name }}</h2>
            <h1>User Info:</h1>
            <p>{{ user_info }}</p>
            <form action="{{ url_for('update_user_info', user_id=user_id) }}" methods="POST" class="edit-info">
                <textarea name="user_info" rows="5" cols="80"></textarea>
                <input type="submit" value="Save Info"/>
            </form>

        </div>
    </div>
{% endblock %}
