{% extends "base.html" %}
{% block body %}
    <!--templating goes here-->
    <div class='row'>
        <div class='large-3 columns'>
            <input type='button' class='profile-picture' style="background-color: {{ user_color }}" value="{{ user_initial }}">
        </div>
        <div class='large-8 large-offset-1 columns'>
            <h2>{{ user_name }}</h2>
            <h1>User Info:</h1>
            <p>{{ user_info }}</p>
            {% if is_owner %}
            <form action="{{ url_for('submit_user_info', user_id=user_id) }}" method="POST" class="edit_info">
                <div class="field">
                    <textarea name="user_info" class='user-info' id="user_info" rows="2" placeholder="Edit User Info"></textarea>
                    <input type="submit" class='medium round button save-button' value="Save" name="Save"/>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
